@{
    ViewBag.Title = "CreditCard";
}
<style>
    .korisnik {
        width: 100%;
        position: relative;
        float: right;
    }

    .kor {
        position: relative;
        float: right;
    }
</style>



<div class="korisnik">
    <div class="kor well">
        <div>
            <p id="usernow" style="float:left"></p>
            &nbsp
            &nbsp
            <button type="button" id="logout" class="btn btn-success" style="display:none;float:right">Log out</button>
        </div>
        <button type="button" id="l" class="btn btn-success" style="display:none">Log in</button>
    </div>
</div>

<div class="row" style="text-align:center;padding-bottom:20px;margin-top:-20px">
    <h3 >Add your credit card</h3>
</div>
<div class="row" id="main">
    <!--  <div class="col-md-8">
          <table class="table">
              <thead>
                  <tr>
                      <th>Custumer username</th>
                      <th>Card number</th>
                      <th>Cardholder number</th>

                  </tr>
              </thead>

              <tbody id="tableBody"></tbody>

          </table>
      </div>
      -->

    <div class="col-md-8" id="enterCreditCard">
        <form class="form-horizontal">


            <div class="form-group">
                <label for="achTitle" class="col-sm-5 control-label">Custumer username</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="cusername" placeholder="Custumer username">
                </div>
            </div>

            <div class="form-group">
                <label for="achTitle" class="col-sm-5 control-label">Card number</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="cnumber" placeholder="Card number">
                </div>
            </div>

            <div class="form-group">
                <label for="achTitle" class="col-sm-5 control-label">Card svc code</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="svc" placeholder="Card svc code">
                </div>
            </div>

            <div class="form-group">
                <label for="achTitle" class="col-sm-5 control-label">Cardholder name</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="cname" placeholder="Cardholder name">
                </div>
            </div>

            <div class="form-group">
                <label for="achTitle" class="col-sm-5 control-label">Cardholder surname</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="csurname" placeholder="Cardholder surname">
                </div>
            </div>

            <div class="form-group">
                <label for="achTitle" class="col-sm-5 control-label">Card expiration date</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="cdate" placeholder="Card expiration date">
                </div>
            </div>

            <div class="form-group">
                <label for="achTitle" class="col-sm-5 control-label">Card type</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" id="ctype" placeholder="Card type">
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-5 col-sm-7">
                    <button type="button" id="addCard" class="btn btn-success">Add</button>
                </div>
            </div>

        </form>

    </div>

</div>





@section scripts{
    <script>


        $(function () {
            if (localStorage.getItem('UserName') != "") {
                $("#usernow").html("Welcome  " + localStorage.getItem('UserName'));
                $("#logout").show();
                $("#first").hide();
            } else {
                $("#l").show();
            }

            $("#l").click(function () {
                window.location = "http://localhost:53301/Home/LogIn";
            });

            $("#logout").click(function () {
                localStorage.setItem('UserName', "");
                localStorage.setItem('ID', "");
                window.location = "http://localhost:53301/Home/LogIn";
            });

            $.get("/api/CreditCard", function (data) {
                console.log(data);

                var tableBody = $("#tableBody");

                $.each(data, function (index, value) {
                    var tr = $("<tr></tr>");

                    var td = $("<td >" + value.CustomerUserName + " </td>");
                    tr.append(td);

                    td = $("<td >" + value.CardNumber + " </td>");
                    tr.append(td);

                    td = $("<td >" + value.CardHolderName + " </td>");
                    tr.append(td);
                    tableBody.append(tr);

                });

            });


            $("#addCard").on("click", function () {
                var card = {};
                card.UserID = localStorage.getItem('ID');
                card.CustomerUserName = localStorage.getItem('UserName');
                card.CardNumber = $("#cnumber").val();
                card.CardCvCode = $("#svc").val();
                card.CardHolderName = $("#cname").val();
                card.CardHolderSurName = $("#csurname").val();
                card.CardDateTime = $("#cdate").val();
                card.CardType = $("#ctype").val();
                console.log(card);
                $.post("/api/CreditCard", card, function (data) {
                    console.log(data);
                    location.reload();
                });
            })


        });

    </script>

}
