
@{
    ViewBag.Title = "Game";
}
<style>
    .korisnik {
        width: 100%;
        position: relative;
        float: right;
    }

    .kor {
        position: relative;
        float: right;
    }
</style>
<div class="korisnik">
    <div class="kor well">
        <div>
            <p id="usernow" style="float:left"></p>
            &nbsp
            &nbsp
            <button type="button" id="logout" class="btn btn-success" style="display:none;float:right">Log out</button>
        </div>
        <button type="button" id="l" class="btn btn-success" style="display:none">Log in</button>
    </div>
</div>
<h2>Game</h2>


<div class="col-sm-6 col-sm-offset-3">
    <div class="card card-block">
        <img class="card-img-top" data-src="holder.js/100px180/" alt="100%x180" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22318%22%20height%3D%22180%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3C!--%0ASource%20URL%3A%20holder.js%2F100px180%2F%0ACreated%20with%20Holder.js%202.8.2.%0ALearn%20more%20at%20http%3A%2F%2Fholderjs.com%0A(c)%202012-2015%20Ivan%20Malopinsky%20-%20http%3A%2F%2Fimsky.co%0A--%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%3C!%5BCDATA%5B%23holder_153cdb63a13%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%5D%5D%3E%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_153cdb63a13%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%2F%3E%3Cg%3E%3Ctext%20x%3D%22118.0859375%22%20y%3D%2297.35%22%3E318x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true" style="height: 180px; width: 100%; display: block;">
        <div class="card-block" id="cardblock">
        <h4 class="card-title"id="gameName"></h4>
        <p class="card-text"id="gameDescription"></p>
        <ul class="list-group list-group-flush">
             <li class="list-group-item" id="gameDevelop"></li>
             <li class="list-group-item"id="gameGenre"></li>
             <li class="list-group-item"id="gamePrice"></li>
            <li class="list-group-item" id="date"></li>
        </ul>

            <div class="form-group">
                <div class="col-sm-6 col-sm-offset-3">
                    <button type="button" id="buygame" class="btn btn-success btn-block">Buy</button>
                </div>

                <div class="col-sm-6 col-sm-offset-3" style="display:none;" id="showw">
                    <p id="comfirm">Comfirm</p>
                    <button type="button" id="yes" class="btn btn-success btn-block" >Yes</button>
                </div>
            </div>
            <p class="card-text" id="uspesno"></p>
        </div>
    </div>
    <div class="row"><button type="button" id="goToForum" class="btn btn-primary btn-block"></button></div>
    <div class="row"><button type="button" id="goToItems" class="btn btn-primary btn-block"></button></div>
    
</div>

   

@section scripts{
    <script>


        $(function () {
            var currentLocation = window.location.pathname;
            console.log(currentLocation);
            var GameName = currentLocation.split("/")[3];
            console.log(GameName);

            $.get("/api/BoughtGames", function (data) {
                console.log(data);

                $.each(data, function (index, value) {
                    if (GameName == value.GameName && localStorage.getItem('ID') == value.UserID) {
                        $("#buygame").hide();
                    }


                });

            });

            if (localStorage.getItem('UserName') != "") {
                $("#usernow").html("Welcome  " + localStorage.getItem('UserName'));
                $("#logout").show();
                $("#first").hide();
            } else {
                $("#l").show();
            }

            $("#l").click(function () {
                window.location = "http://localhost:53301/Home/LogIn";
            });

            $("#logout").click(function () {
                localStorage.setItem('UserName', "");
                localStorage.setItem('ID', "");
                window.location = "http://localhost:53301/Home/LogIn";
            });


                var currentLocation = window.location.pathname;
                console.log(currentLocation);
                var GameName = currentLocation.split("/")[3];
                console.log(GameName);

                $('#goToForum').append($('<span></span>').html("Go to " + GameName + " Forum"))
                $('#goToItems').append($('<span></span>').html("Go to " + GameName + " Items"))

                $.get("/api/Games/" + GameName, function (data) {
                    console.log(data);

                    var cardblock = $("#cardblock");

                    $.each(data, function (index, value) {
                        $("#gameName").html(value.Name);
                        $("#gameDescription").html(value.Description);
                        $("#gameDevelop").html(value.Developer);
                        $("#gameGenre").html(value.Genre);
                        $("#date").html(value.Date);
                        $("#gamePrice").html(value.Price);
                    });
                });

            });
            


            $(function () {
            $("#buygame").on("click", function () {
                console.log("ASD");
               // var pom1 = $("#GameName").html();
                var currentLocation = window.location.pathname;
                var pom = currentLocation.split("/")[3];
                var flag;
                console.log(pom );

                var currentUserName = localStorage.getItem('UserName');
                if (currentUserName.length != 0) {

                    $.get("/api/CreditCard", function (data) {
                        console.log(data);

                        $.each(data, function (index, value) {
                               
                            if (value.CustomerUserName == currentUserName) {
                                console.log("DA");
                                $("#comfirm").html("Comfirm:");

                            } 

                        });

                        
                        
                    });

                    $("#showw").show();
                    $("#buygame").hide();

                    $("#yes").on("click", function () {
                        var game = {};
                        game.Name = pom;
                        game.Pom = localStorage.getItem('ID');
                        console.log(pom);                        


                        if ($("#comfirm").text() == "Comfirm:") {
                            $.post("/api/Games", game, function (data) {
                                console.log(data);
                                location.reload();
                            });
                        } else {
                            window.location = "http://localhost:53301/Home/CreditCard";
                        }
                        
                    })

                    

                }
                else {
                    window.location = "http://localhost:53301/Home/LogIn";

                }
            })
            $("#goToForum").on("click", function () {
                var currentLocation = window.location.pathname;
                var gameName = currentLocation.split("/")[3];
                console.log(gameName);
                window.location = "http://localhost:53301/Home/Forums/" + gameName;              
            })
            $("#goToItems").on("click", function () {
                var currentLocation = window.location.pathname;
                var gameName = currentLocation.split("/")[3];
                console.log(gameName);
                window.location = "http://localhost:53301/Home/Items/" + gameName;
            })
            });
        

    </script>

}

