<div class="jumbotron">
    <h1> WELCOME TO HOME</h1>
</div>
<div class="row">

  <div class="col-md-12">
      <div class="well">
          <a href="~/Home/GetAllGames"> View All Games</a>
          <br>
          <a href="~/Home/Users"> View All Users</a>
          <br>
          <a href="~/Home/Items"> View All Items</a>
          <br>
          <a href="~/Home/Forums"> View All Forums</a>

      </div>
      
  </div>

</div>
