<div class="jumbotron">
    <h1> WELCOME TO HOME</h1>
</div>
<div class="row">

  <div class="col-md-12">
      <div class="well">
          <a href="~/Home/GetAllGames"> View All Games</a>
      </div>
      
  </div>

</div>
