<style>
    img {
        max-width: 100%;
        max-height: 100%;
    }
</style>


<div class="jumbotron">
    <h1> WELCOME TO INVOKE</h1>
</div>

<div class="row">
    <div>

        <div class="col-md-3 well">
            <a href="~/Home/LogIn"> Login</a>
            <br>
            <a href="~/Home/Register"> Register</a>
            <br>
            <a href="~/Home/GetAllGames"> View All Games</a>
            <br>
            <a href="~/Home/Users"> View All Users</a>
            <br>
            <a href="~/Home/Items"> View All Items</a>
            <br>
            <a href="~/Home/Forums"> View All Forums</a>
            <br>
            <a href="~/Home/PurchaseStatistics"> PurchaseStatistics </a>
            <br>
            <a href="~/Home/TopBuyer"> TopBuyer </a>
            <br>
            <a href="~/Home/Achievments"> Achievments </a>
            <br>
            <a href="~/Home/Workshop"> Workshop </a>
            <br>
            <a href="~/Home/Admins"> Admins </a>
            <br>
            <a href="~/Home/Comments"> Comments </a>
            <br>
            <a href="~/Home/CreditCard"> CreditCard </a>
            <br>
            <a href="~/Home/SetsGames"> SetsGames </a>
            <br>
            <a href="~/Home/Topics"> Topics </a>



        </div>

        <div>
            <div class="col-md-9 well">
                <a href="Home/GetAllGames"><img src="http://www.shunvmall.com/data/out/90/47064823-games.png" /></a>

            </div>




        </div>
    </div>
