<div class="jumbotron">
    <h1> WELCOME TO HOME</h1>
</div>
<div class="row">

  <div class="col-md-12">
      <div class="well">
          <a href="~/Home/GetAllGames"> View All Games</a>
          <br>
          <a href="~/Home/Users"> View All Users</a>
          <br>
          <a href="~/Home/Items"> View All Items</a>
          <br>
          <a href="~/Home/Forums"> View All Forums</a>
          <br>
          <a href="~/Home/LogIn"> Login</a>
          <br>
          <a href="~/Home/PurchaseStatistics"> PurchaseStatistics </a>
          <br>
          <a href="~/Home/TopBuyer"> TopBuyer </a>
          
          
    <div>
        <div>
            <a href="Home/GetAllGames"><img src="https://res.cloudinary.com/teepublic/image/private/s--TO0gU-Lt--/t_Preview/b_rgb:191919,c_limit,f_jpg,h_630,q_90,w_630/v1446199561/production/designs/149378_0.jpg" width="630" height="650" /></a>
            <a href="Home/GetAllGames"><img src="http://vignette1.wikia.nocookie.net/leagueoflegends/images/8/86/League_of_legends_logo_transparent.png/revision/latest?cb=20131023175853" width="400" height="200" style="position: absolute;top: 290px;right: 150px;" /></a>
            <a href="Home/GetAllGames"><img src="http://images.akamai.steamusercontent.com/ugc/436071756793745820/123339BCA40E64C37B0C60B56DBE3C869FCE084E/" width="400" height="200" style="position: absolute;top: 515px;right: 150px;" /></a>
            <a href="Home/GetAllGames"><img src="http://vexant-gaming.com/wp-content/uploads/2016/05/dota2_horiz_logo-8e864a11b9bbdcbbdaf971c4273e465578a87360c40d9256f4e99933f30944c0.png" width="400" height="200" style="position: absolute;top: 740px;right: 150px;" /></a>

        </div>


    </div>

</div>