@{
    ViewBag.Title = "LogIn";
}
<style>
    .korisnik {
        width: 100%;
        position: relative;
        float: right;
    }

    .kor {
        position: relative;
        float: right;
    }
</style>



<br>
<div id="first">
    <form action="" method="post" ">
        <input type="text" id="userName" placeholder="Username" />
        <br>
        <input type="password" id="userPassword" placeholder="Password" />
        <input type="button" id="login" value="Sign In" />
    </form>
</div>


<div class="row" id="UserInformation">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>UserName</th>
                    <th>Password</th>
                    <th>Email</th>
                </tr>
            </thead>

            <tbody id="tableBody"></tbody>

        </table>
    </div>
</div>


@section scripts {
    <script>
            $(document).ready(function () {
                if (localStorage.getItem('UserName') != "") {
                    $("#usernow").html("Welcome  " + localStorage.getItem('UserName'));
                    $("#logout").show();
                    $("#first").hide();
                } else {
                    $("#l").show();
                }

                $("#l").click(function () {
                    window.location = "http://localhost:53301/Home/LogIn";
                });

                $("#logout").click(function () {
                    localStorage.setItem('UserName', "");
                    localStorage.setItem('ID', "");
                    window.location = "http://localhost:53301/Home/LogIn";
                });

                // on click Sign In Button checks with the remote server that username =='admin' and password == 'password'
                $("#login").click(function () {
                    var user = {};
                    user.UserName = $("#userName").val();
                    user.Password = $("#userPassword").val();

                    $.post("/api/LogIn", user, function (data) {
                        console.log(data);
                        localStorage.setItem('UserName', data.UserName);
                        console.log(localStorage.getItem('UserName'));
                        window.location = "http://localhost:53301/Home";
                    });


                    /*    $.ajax({
                          url: 'http://localhost:53301/api/Users' + encodeURIComponent($("#loginusername").val()) + '&pass=' + encodeURIComponent($("#loginpassword").val()),
                            success: function (data) {
                                 if (data == "OK") {
                                     $("#first").hide();
                                     $("#second").append("<p>Hello, admin</p> <br/><input type='button' id='logout' value='Log Out' />");
                                 }
                                 else {
                                     alert("Please try again");
                                 }
                             }
                         });*/
                });

            });

            $(function () {
                var currentUserName = localStorage.getItem('UserName');
               // $.get("/api/LogIn?username=" + currentUserName, function (data) {
                    $.get("/api/LogIn/" + currentUserName, function (data) {
                    console.log(data);
                    var tableBody = $("#tableBody");
                    $.each(data, function (index, value) {
                        var tr = $("<tr></tr>");

                        var td = $("<td >" + value.UserName + " </td>");
                        tr.append(td);

                        td = $("<td >" + value.Email + " </td>");
                        tr.append(td);

                        td = $("<td >" + value.Password + " </td>");
                        tr.append(td);


                        localStorage.setItem('ID', value.UserID);

                        tableBody.append(tr);

                    });

                    });

                    var currentUserName = localStorage.getItem('UserName');
                    if (currentUserName.length != "superadmin") {
                        $("#UserInformation").hide();
                    }


            });


    </script>
}
