
@{
    ViewBag.Title = "Users";
}

<div class="row">
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Desc</th>
                    <th>Price</th>
                </tr>
            </thead>

            <tbody id="tableBody"></tbody>

        </table>
    </div>

    <div class="col-md-4">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="userName" class="col-sm-2 control-label">UserName</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="userName" placeholder="User Name">
                </div>
            </div>

            <div class="form-group">
                <label for="userEmail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="userEmail" placeholder="Email">
                </div>
            </div>

            <div class="form-group">
                <label for="userPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="userPassword" placeholder="Password">
                </div>
            </div>

            <div class="form-group">
                <label for="userCountry" class="col-sm-2 control-label">Country</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="userCountry" placeholder="Country">
                </div>
            </div>

            <div class="form-group">
                <label for="userGender" class="col-sm-2 control-label">Gender</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="userGender" placeholder="Gender">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" id="addUser" class="btn btn-success">Add</button>
                </div>
            </div>
        </form>

    </div>

</div>





@section scripts{
    <script>

            $(function () {
                $.get("/api/Users", function (data) {
                    console.log(data);

                    var tableBody = $("#tableBody");

                    $.each(data, function (index, value) {
                        var tr = $("<tr></tr>");

                        var td = $("<td >" + value.UserName + " </td>");
                        tr.append(td);

                        td = $("<td >" + value.Email + " </td>");
                        tr.append(td);

                        td = $("<td >" + value.Password + " </td>");
                        tr.append(td);

                        tableBody.append(tr);

                    });

                });


                $("#addUser").on("click", function () {
                    var user = {};
                    user.UserName = $("#userName").val();
                    user.Email = $("#userEmail").val();
                    user.Password = $("#userPassword").val();
                    user.Country = $("#userCountry").val();
                    user.Gender = $("#userGender").val();
                    console.log(user);

                    $.post("/api/Users", user , function (data) {
                        console.log(data);
                        location.reload();
                    });

                })
            });

    </script>

}

